* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

/* autorisation */

.authorization {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #eeeeee;
	height: 100vh;
}

.auth-container {
	display: flex;
	justify-content: center;
}

.authorization-form, .choose-form {
	background-color: #fff;
	width: 600px;
	height: 400px;
	margin-top: 25vh;
	border-radius: 20px;
	padding: 50px;
}

.auth-title {
	margin-bottom: 30px;
	margin-left: 170px;
}

.authorization-form input {
	width: 500px;
	height: 35px;
	margin-top: 30px;
	padding-left: 10px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 20px;
}

.authorization-form input:focus {
	outline: none;
	border-color: cornflowerblue;
}

.auth-button {
	display: block;
	margin-top: 80px;
	margin-left: 420px;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
	color: #fff;
    border-radius: 2px;
}

/* choise-form */

.choice-title {
	margin: 70px 0px 50px 150px;
}

.choice-button {
	margin-left: 70px;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
	color: #fff;
    border-radius: 2px;
}

.sup {
	padding: 10px 37px;
}


/* header */

header {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 20px;
	background-color: #101049;
	color: #fff;
	border: 1px solid #808080;
}

.container {
	max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 20px 70px;
	height: 90px;
}

.header-title {
	margin: 0;
}

.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

.header-search {
	width: 550px;
	height: 50px;
}

.header-search input {
	width: 550px;
	height: 40px;
	margin-top: 5px;
	padding-left: 10px;
	border: 1px solid #808080;
	border-radius: 20px;
}

.header-search input:focus {
	outline: none;
	border-color: cornflowerblue;
}

.icon_search {
	position: absolute;
    width: 25px;
    height: 25px;
    z-index: 50;
    transform: translate(510px, -31px);
    cursor: pointer;
}

.icon_search::before {
	position: absolute;
	content: '';
	width: 12px;
	height: 12px;
	border: 2px solid #808080;
	border-radius: 50%;
}

.icon_search::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 10px;
	background: #808080;
	transform: translate(15px, 12px) rotate(-45deg);
}

.icon_cross {
	position: absolute;
    width: 25px;
    height: 25px;
    z-index: 50;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(480px, -33px);
	visibility: hidden;
}

.icon_cross::before, .icon_cross::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 18px;
	background: #808080;
	transform: rotate(45deg);
}

.icon_cross::after {
	transform: rotate(-45deg);
}

.icon_cross.active {
	visibility: visible;
}

.header-user {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	font-weight: 400;
    font-size: 15px;
}

.user-links {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.username {
	cursor: pointer;
}

.user-img {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

/* Tickets page */

.sidebar {
	width: 300px;
	height: 100vh;
	position: fixed;
	top: 92px;
	left: 0;
	background-color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 30px;
}

.filter {
	padding-bottom: 20px;
}

.filter-category, .filter-status, .filter-priority {
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

.filtered-atributes {
	font-size: 17px;
}

.categories label, .statuses label, .priorities label {
	cursor: pointer;
	display: block;
}

.checkbox-attributes {
    margin-right: 10px;
}

.categories, .statuses, .priorities {
	display: none;
}

.categories.open, .statuses.open, .priorities.open {
	display: block;
}

.filter__button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.filter-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #0C0C0E;
    background-color: #fff;
    border-radius: 2px;
}

.filter-button:hover {
	cursor: pointer;
	background-color: cornflowerblue;
	border-color: cornflowerblue;
	transition: 0.7s;
}

.application, .footer {
	background-color: #eeeeee;
	padding: 30px;
}

.application {
	position: fixed;
	left: 300px;
	width: calc(100vw - 300px);
	height: 100vh;
	overflow: scroll;
	margin-bottom: 20px;
}

.application-user {
	padding: 30px;
}

table{
	width:  50vw;
	margin: 1% auto;
	border-collapse: collapse;
	font-size: 16px;
}

table tr{
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

.application__wrapper {
	padding-top: 20px;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}

.applications__wrapper {
	display: flex;
	flex-direction: column;
}

.all-tickets__wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	font-family: 'Inter', sans-serif;
}

.ticket__wrapper {
	margin-left: 50px;
	font-size: 16px;
	background-color: #fff;
	width: 550px;
	height: 300px;
	padding: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
}

/* .ticket__wrapper:nth-last-child(1) {
	margin-bottom: 20px;
} */

.ticket-attribute, .user-ticket-attribute {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.ticket-attribute:nth-child(2) {
	max-width: 550px;
	max-height: 50px;
	overflow: hidden;
}

.ticket-title, .ticket-title-content {
	font-weight: bold;
}

.ticket-title-content {
	font-size: 20px;
}

.link-to-ticket {
	color: cornflowerblue;
	text-decoration: underline;
}

/*  usercreateticket  */

.create_app {
	width: 100%;
    min-width: 550px;
    max-width: 800px;
}

.categories_list, .custom_list, .statuses_list, .priorities_list {
    width: 550px;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #0C0C0E;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.categories_list:focus, .custom_list:focus, .statuses_list:focus, .priorities_list:focus {
	outline: none;
	border-color: cornflowerblue;
}

.input-text {
	margin-bottom: 25px;
	display: flex;
    justify-content: space-between;
}

.ticket-attribute__wrapper {
	margin-bottom: 25px;
}

.input-title, .description-title {
	font-weight: 600;
	margin-bottom: 5px;
}

.input-text .priority, .input-text .files {
	font-weight: 600;
	margin-bottom: 5px;
}

.input-textmessage {
	width: 550px;
	height: 30px;
	font-size: 18px;
}

.input-text textarea{
	width: 550px;
	height: 90px;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
}

.input-text input:focus, .input-text textarea:focus, .input-textmessage:focus {
	outline: none;
	border-color: cornflowerblue;
}

.radio-btn-priority {
    margin-right: 10px;
}

.app-form__buttons {
	display: flex;
	justify-content: flex-end;
	gap: 30px;
}

.app-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #0C0C0E;
    background-color: #fff;
    border-radius: 2px;
}

.app-button:hover {
	cursor: pointer;
	background-color: cornflowerblue;
	border-color: cornflowerblue;
	transition: 0.7s;
}

/* User-Tickets */

.applications-user {
	padding: 30px;
	background-color: #eeeeee;
}

.all-user-tickets__wrapper {
	font-family: 'Inter', sans-serif;
    font-size: 20px;
}


.ticket-status__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 30px;
}

.user-ticket {
	width: 450px;
	height: 270px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.tickets {
	display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-ticket-attribute:first-child {
	font-weight: 600;
}

.user-ticket-attribute:nth-child(2) {
	max-width: 410px;
	max-height: 90px;
	overflow: hidden;
}

.ticket__title{
	font-size: 25px;
	font-weight: 600;
	padding: 20px;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
}

.link-to-user-ticket {
	color: cornflowerblue;
	text-decoration: underline;
	font-size: 15px;
}

/* .ticket-attribute {

} */


/* open-ticket-support */

.file-link {
	color: cornflowerblue;
	text-decoration: underline;
}

.files-icon {
	width: 16px;
	height: 16px;
}

.ticket-file-attribute {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* modal-window */

.exit-link:hover {
	color: cornflowerblue;
	text-decoration: underline;
}

/* chat-page */

.main-section{
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	font-family: 'Inter', sans-serif;
    font-size: 20px;
}


.chat-application {
	padding: 30px;
	background-color: #d4d4d4;
	flex-grow: 1;
	height: 100vh;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.chat__wrapper {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.message__wrapper {
	font-size: 16px;
    background-color: #fff;
    max-width: 400px;
    max-height: 200px;
	border-radius: 10px;
    padding: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.person_name {
	align-self: flex-start;
	font-size: 18px;
	padding-bottom: 10px;
}

.datetime {
	padding-top: 5px;
	align-self: flex-end;
}

.message-input {
	/* width: 100vw; */
	height: 150px;
	background-color: #212121;
	padding-top: 50px;
	padding-bottom: 50px;
}

.message-textarea {
	width: 550px;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
	padding-top: 10px;
    border: 1px solid #212121;
    border-radius: 20px;
	font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.message-textarea:focus {
	outline: none;
	border-color: cornflowerblue;
}

.message-button__wrapper {
	display: flex;
    justify-content: center;
    /* gap: 30px; */
}

.message-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 2px;
}

.message-button:hover{
	cursor: pointer;
	background-color: #101049;
	border-color: #101049;
	color: #fff;
	transition: 0.7s;
}

/* .save-btn {
	display: none;
}

.statuses_list, .priorities_list {
	display: none;
} */

.hidden {
	display: none;
}

/* .visible {
	display: block;
} */

/*  create new custom attribute  */

.create-atr-title {
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 25px;
}

.input-atr-name {
	width: 550px;
	height: 42px;
	padding: 10px 15px;
	font-size: 18px;
	border: 1px solid #808080;
	border-radius: 5px;
}

.input-atr-name:focus {
	outline: none;
	border-color: cornflowerblue;
}

.icon-plus, .icon-minus {
	position: absolute;
    width: 25px;
    height: 25px;
    z-index: 50;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #808080;
	border-radius: 3px;
	transform: translate(570px, -33px);
	visibility: hidden;
}

.icon-minus {
	position: relative;
	visibility: visible;
}

.icon-plus::before, .icon-plus::after, .icon-minus::before {
	position: absolute;
	content: '';
	width: 2px;
	height: 18px;
	background: #808080;
}

.icon-plus::after, .icon-minus::before {
	transform: rotate(-90deg);
}

.icon-plus.active {
	visibility: visible;
}